@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', sans-serif;
    color: goldenrod;
}

body {
    background: black;
}

.container {
    max-width: 65vw;
    max-height: 65vh;
}

.container1 {
    max-width: 80vw;
    margin-top: 300px;
    margin: 0 auto;
    display: flex;
    border-top: 1px solid white;
}

/* guitar page */

.product {
    max-width: 80vw;
    margin: 0 auto;
    border: 1px solid goldenrod;
    padding: 5px;
}

.wrapper {
    max-width: 80vw;
    margin: 0 auto;
    padding: 15px;
}

.product-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));    grid-column-gap: 2em;
    grid-row-gap: 2em;
    }

.product-boxes img {
    width: 100%;
}


.box {
    border: 1px white solid;
}

.box h4 {
    border-bottom: 1px white solid;
    text-align: right;
    padding: 5px;
}

.box p {
    border-top: 1px white solid;
    text-align: center;
}

@media (max-width: 600px) {
    .display-boxes {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}


